# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directory
dist/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# OS files
.DS_Store
._*
Thumbs.db
