<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-327448-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-327448-5');
</script>
<style>
#sponsorship {
display: flex;
width: 100%;
column-gap: 1em;
align-items: center;
background-color: rgb(255,255,240);
color: black;
font-size: 90%;
border:0;
border-top: 0.1rem solid lightgrey;
border-bottom: 0.1rem solid lightgrey;
padding: 0;
padding: 0.5em;
margin: 0;
margin-top: 1.5em;
margin-bottom: 0.5em;
}
#sponsorship > span {
margin: 0;
padding: 0;
color: black;
font-weight: bold;
}
#sponsorship > a {
margin: 0;
padding: 0;
font-weight: bold;
color: blue;
}
#sponsorship > input {
margin: 0;
padding: 0;
padding: 0.2em;
margin-left: auto;
border: 1px solid grey;
border-radius: 6px;
background-color: lightgrey;
font-weight: bold;
font-size: 90%;
}
</style>
