<!doctype html>
<html>
<head>
    <title>ACE Results</title>
    <!-- DataTables -->

    <!-- TODO these js + css files should be more portable (in same dir as report) -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>


    <style>
      body {
      font-family: "Open Sans", sans-serif;
      line-height: 1.25;
      }


      td.impact:contains('critical'){
        background-color: red;
      }
      td.filename {
        font-family: monospace;
      }
      td.target-cfis {

      }
      td.violation-id {

      }
      td.violation-description {

      }
      td.engine {

      }
  </style>
</head>
<body>
    <h1>ACE Results</h1>
    <p>The following table lists all tests performed, and the results for each.</p>
    <p>${input.filepath}</p>
    <p>${input.timestamp}</p>

    <table id="results-table"
      class="stripe row-border order-column cell-border hover">
      <thead>
        <tr>
          <td>Result</td>
          <td>Level</td>
          <td>Filename</td>
          <td>Target Node</td>
          <td>Test ID</td>
          <td>Description</td>
          <td>Engine</td>
        </tr>
      </thead>

      <tbody>
        <for (file in input.files)>
          <for (item in file.axe.violations)>
            <tr>
              <td class="result">Violation</td>
              <td class="impact">${item.impact}</td>
              <td class="filename">${file.filename}</td>
              <td class="target-cfis">
                <ul>
                  <for(node in item.nodes)>
                    <for(targetData in node.target)>
                      <li>${targetData}</li>
                    </for>
                  </for>
                </ul>
              </td>
              <td class="violation-id">${item.id}</td>
              <td class="violation-description">${item.description}</td>
              <td class="engine">aXe</td>
            </tr>
          </for>

          <for (item in file.axe.passes)>
          <tr>
            <td class="result">Pass</td>
            <td class="impact">${item.impact}</td>
            <td class="filename">${file.filename}</td>
            <td class="target-cfis">
              <ul>
                <for(node in item.nodes)>
                  <for(targetData in node.target)>
                    <li>${targetData}</li>
                  </for>
                </for>
              </ul>
            </td>
            <td class="violation-id">${item.id}</td>
            <td class="violation-description">${item.description}</td>
            <td class="engine">aXe</td>
          </tr>
          </for>

        </for>
      </tbody>
    </table>

    <script>
    $(document).ready( function () {
      $('#results-table').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
      });
    });
  </script>
</body>
</html>
